@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
  font-family: 'courier new', sans-serif !important;
}

.green-link {
  color: #507E35;
}

.green-link:hover {
  color: #29411b;
}

.black-link {
  color: #000000
}

.black-link:hover {
  color: #555555
}

#main-logo {
  max-width: 400px;
}

#nav-film-left {
  text-align: right;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: black;
}