@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
  font-family: 'Raleway', sans-serif !important;
}

#main-logo {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

#nav-film-left {
  text-align: right;
}