{% extends "base.html" %} {% block title %} About {% endblock title %} {% block
stylesheets %}
{{ super() }}
{% endblock stylesheets %} {% block content %}
<div class="container-fluid">
  <div class="row min-vh-100">
    <aside class="col-12 col-md-2 p-0"></aside>
    <main class="col-12 col-md-8 bg-faded py-3">
      <b
        >Casey Toth is a visual journalist on staff at the News & Observer in
        Raleigh, N.C. She works with a talented team of visual journalists to
        document the daily news and stories in the Raleigh, Durham, and Chapel
        Hill areas known collectively as the Triangle, while also balancing
        long-form documentary-style video storytelling across the state. Her
        long-form work focuses on health and environmental issues, from
        childhood cancer to sustainable agriculture and more. She graduated from
        the University of North Carolina at Chapel Hill in 2017 with a degree in
        photojournalism.</b
      >
    </br>
      <a href="/download_resume" download="proposed_file_name">Resume</a>
    </main>
  </div>
</div>
<!-- title bar -->
{% endblock content %} {% block javascripts %} {% endblock javascripts %}
