{% extends "base.html" %} {% block title %} Films {% endblock title %} {% block
stylesheets %}
{{ super() }}
{% endblock stylesheets %} {% block content %}
<div class="container-fluid">
  <div class="row min-vh-100">
    <aside class="col-1 p-0"></aside>
    <main class="col-10 bg-faded" style="margin:20px 20px 0 0;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/363639639?color=ffffff&title=0&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>

          <div class="carousel-item">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/363638217?color=ffffff&title=0&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <div class="carousel-item">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/363637865?color=ffffff&title=0&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <div class="carousel-item">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/363638728?color=ffffff&title=0&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <div class="carousel-item">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/363639165?color=ffffff&title=0&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <div class="carousel-item">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/363637595?color=ffffff&title=0&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <p>North Carolina is a proud agricultural state. Its industrialization
        brought valuable gains, but a new cast of farmers are returning to the
        land against all odds to find what has been lost: sustainability,
        stewardship, harmony, freedom, and more. Photos by Juli Leonard.</p>

      <!-- cobblestone -->
      <div style="padding:56.25% 0 30px 0;position:relative;"><iframe
        src="https://player.vimeo.com/video/763853849?color=ffffff&title=0&byline=0&portrait=0"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
        allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>

      <p>The Cobblestone Farmers Market is dedicated to significantly increasing equitable access to local, sustainably grown food in Winston-Salem, NC, and growing the regional food economy by creating and nurturing diverse, thriving marketplaces. The market is well known for both the quality and diversity of its fresh farm products and artisan-prepared foods, offering customers the guarantee that all vendors meet the sustainable, naturally-grown, and humane practices required by the market.</p>

      <!-- avery -->
      <div style="padding:56.25% 0 30px 0;position:relative;"><iframe
          src="https://player.vimeo.com/video/295480285?color=ffffff&title=0&byline=0&portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>

      <p>Five-year-old Avery Neill was diagnosed with an incurable brain tumor
        in December 2017. Life changed quickly for Avery and her family,
        including her twin sister, Bekah, and their little brother, James. Her
        parents, Emily and Andy Neill, hoped to make the most of the time Avery
        had left, only to watch her condition decline quickly and sooner than
        expected. Friends and family surrounded the Neills as Avery slipped away
        quietly on Mother's Day, May 13, 2018.</p>

      <!-- hawkins loop -->
      <div style="padding:56.25% 0 30px 0;position:relative;"><iframe
        src="https://player.vimeo.com/video/764348125?color=ffffff&title=0&byline=0&portrait=0"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
        allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>

      <p>Learn. Play. Gather. Stay. Opening 2023. <a>www.hawkinsloop.com</a></p>

      <!-- freedom -->
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe
          src="https://player.vimeo.com/video/460562505?color=ffffff&title=0&byline=0&portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>
      <p>On his eighth day of freedom, from a 44-year imprisonment for a crime he says he never committed, Ronnie Long
        spends the evening at home cooking dinner with his wife Ashleigh Long, on Friday, Sept. 4, 2020, in Durham, N.C.
      </p>

      <!-- bail -->
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe
          src="https://player.vimeo.com/video/465127090?color=ffffff&title=0&byline=0&portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>
      <p>The NC Community Bail Fund of Durham brought $100,000 in cash to free nearly 30 men from the Durham County jail
        as a celebration of Juneteenth and in time for them to spend Father’s Day at home while they await their trials,
        on Friday Jun. 19, 2020.</p>

        <!-- climate change -->
  
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe
            src="https://player.vimeo.com/video/364080922?color=ffffff&title=0&byline=0&portrait=0"
            style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
            allowfullscreen></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
  
        <p>Classrooms and offices in the Triangle were short a few hundred people Friday Sep. 20, 2019, as Halifax Mall
          filled with people participating in the global climate strike in Raleigh, NC.</p>

      <!-- flood -->
      <div style="padding:56.25% 0 30px 0;position:relative;"><iframe
          src="https://player.vimeo.com/video/295439861?color=ffffff&title=0&byline=0&portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>

      <p>After Hurricane Florence, Crusoe Island couple, Westly Dorsch and
        Chasity Hewett, helped a Coast Guard crew navigate flooded streets to
        rescue their neighbors' pets stuck in homes flooded by the Waccamaw
        River.
      </p>

      <!-- infant death -->
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/389311760"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>

      <p>A series of potential carbon monoxide poisonings reported at McDougald Terrace have prompted community-wide
        inspections and evacuations, but the fire department says there is no evidence of it in the deaths of two
        infants on Nov 20. and Dec 8, 2019.</p>


      <!-- tree -->
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe
          src="https://player.vimeo.com/video/330130582?color=ffffff&title=0&byline=0&portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>
      <p>Krista Padgett inherited the role of protector of a 250-year-old oak when she purchased her home from Wayne
        Crawford, who spent his childhood under its branches and saved it from construction twice before. Together they
        grieve its upcoming removal.
      </p>

      <!-- dog -->
      <div style="padding:56.25% 0 30px 0;position:relative;"><iframe
          src="https://player.vimeo.com/video/295438853?color=ffffff&title=0&byline=0&portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>

      <p>If you go to the SPCA of Wake County on a weekend, long-time volunteer
        Jerry Kroll, 85, will ask you to greet a "Jerry Dog" as the staff now
        affectionately calls them. He brings hard-to-adopt dogs out to the lobby
        to help them perk up and hopefully find a home.
      </p>
    </main>
    <aside class="col-1 p-0"></aside>
  </div>
</div>
{% endblock content %}