{% extends "base.html" %}
{% block title %} Films {% endblock title %}
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}
{% block content %}
<div class="container-fluid">
  <div class="row min-vh-100">
      <aside class="col-12 col-md-2 p-0">
          <nav class="navbar navbar-expand navbar-light flex-md-column flex-row align-items-end py-2 sticky-top" id="nav-film-left" >
              <div class="collapse navbar-collapse">
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="#news"><i class="fa fa-heart-o fa-fw"></i> <span class="d-none d-md-inline">NEWS & OBSERVER</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="#commission"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">COMMISSIONS</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="#school"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">UNIVERSITY</span></a>
                      </li>
                  </ul>
              </div>
          </nav>
      </aside>
      <main class="col-12 col-md-8 bg-faded py-3">
        <h2 id="news">NEWS & OBSERVER</h2>
        <!-- avery -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/295480285?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Five-year-old Avery Neill was diagnosed with an incurable brain tumor in December 2017. Life changed quickly for Avery and her family, including her twin sister, Bekah, and their little brother, James. Her parents, Emily and Andy Neill, hoped to make the most of the time Avery had left, only to watch her condition decline quickly and sooner than expected. Friends and family surrounded the Neills as Avery slipped away quietly on Mother's Day, May 13, 2018.</p>

          <!-- quilt -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/224995457?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Sidney Brodie began sewing this quilt in 1998, after years of listening to the city's violence as a 911 dispatcher. The 'Durham Homicide and Victims of Violent Death Memorial Quilt' reaches 60 feet with the 696 homicide victims, reaching back to 1994, with the death of 2-year-old Shaquana Atwater, as of Wednesday June 14, 2017.</p>

          <!-- flood -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/295439861?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>After Hurricane Florence, Crusoe Island couple, Westly Dorsch and Chasity Hewett, helped a Coast Guard crew navigate flooded streets to rescue their neighbors' pets stuck in homes flooded by the Waccamaw River.
            </p>

          <!-- tree -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/330130582?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Krista Padgett inherited the role of protector of a 250-year-old oak when she purchased her home from Wayne Crawford, who spent his childhood under its branches and saved it from construction twice before. Together they grieve its upcoming removal.
            </p>

          <!-- bond -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/280100525?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>About a month after being released on an unsecured bond for a murder charge, Ledarius Samuel was pulled over, had his car searched and was arrested, only to have those charges dropped. His mother and lawyer say he was unfairly targeted.
            </p>

          <!-- statue -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/238285301?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>A ladder and tow strap were used to swiftly pull a Confederate statue to the ground during an ‘Emergency Durham Protest’ at the old Durham County Courthouse in response to the violent protests Saturday in Charlottesville, on Monday, Aug. 14, 2018.
            </p>

          <!-- dog -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/295438853?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>If you go to the SPCA of Wake County on a weekend, long-time volunteer Jerry Kroll, 85, will ask you to greet a "Jerry Dog" as the staff now affectionately calls them. He brings hard-to-adopt dogs out to the lobby to help them perk up and hopefully find a home.
            </p>

          <!-- santa -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/251146289?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Warren Keyes, dressed as Santa Claus, appeared as the Durham Holiday Parade’s first African-American Santa. Hear how he hoped his appearance would inspire both children and adults to make the world a better place for all.
            </p>

          <h2 id="commission">COMMISSIONS</h2>
          <!-- food -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/276876975?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Farmer Foodshare knows fighting hunger and building healthy, viable food systems go hand in hand. With a variety of programs, they remove barriers to growing and accessing local food by helping local farmers sell more of what they grow, connecting them to communities across North Carolina, and to the 33,000 students in Durham Public Schools, with their fresh, nutritious food.
            </p>

          <!-- reality farm -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/257235372?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>


          <p>The Reality Ministries Farm Project is providing meaningful work for teens and adults with disabilities by fostering relationships, a sense of belonging, and attentiveness to the land through the context of farming. A Kickstarter campaign will support infrastructure costs for growing flowers and vegetables with 8-10 Reality participants.
            </p>

          <!-- food summit -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/185593136?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>The Carolina Food Summit commissioned a short film about their first annual gathering of leaders in North Carolina's food community. They discussed the issues facing the state's fragile foodways. Chefs, writers, non-profit founders, restaurateurs, and scholars shared their perspectives about a range of contemporary topics from school lunch, hunger, policy, sustainability, and flavor.
            </p>

          <h2 id="school">UNIVERSITY</h2>

          <!-- vallejo -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/219985024?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>As it rebounds from bankruptcy, the city of Vallejo, CA, is deciding who it wants to be. Some residents want to bring back the maritime industry that once brought prosperity. Some residents want to take a chance on new industries, tourism and technology. A proposed marine terminal and accompanying cement factory sits at the crux of this decision.
            </p>

          <!-- swine -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/165226619?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Devon Hall and Elsie Herring are two residents of Duplin County, the hog capital of the world, who speak out against the environmental injustice perpetuated by the industry's waste disposal methods.
            </p>

          <!-- goats -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/172249371?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Each day Dave Artigues faces financial and emotional uncertainty as he unravels his 15-year tenure as the owner of a small goat farm in North Carolina. This short verité documentary chronicles his journey of learning to let go – and viewers are left wondering about the future of sustainable agriculture.
            </p>

          <!-- bananas -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/162565046?color=cccccc&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Banana production is both a blessing and a threat to Bocas del Toro. It once built the region’s infrastructure, and continues to provide steady employment for the people. However, the lack of genetic diversity in banana plants creates a reliance on fungicides that, along with sediment runoff, negatively affect marine ecosystems. A new resistant fungus is affecting global banana production but has yet to reach the Western Hemisphere.
            </p>

          <!-- carrots -->
          <div style="padding:56.25% 0 30px 0;position:relative;"><iframe src="https://player.vimeo.com/video/154771257?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

          <p>Come on a (very short) journey with a small harvest of carrots to see how much time, love, and energy goes into making great food.
            </p>

      </main>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
  
{% endblock javascripts %}