{% extends "base.html" %} {% block title %} Images {% endblock title %} {% block
stylesheets %}
{{ super() }}
{% endblock stylesheets %} {% block content %}

<div class="container-fluid">
  <div class="row min-vh-100">
    <aside class="col-12 col-md-2 p-0"></aside>
    <main class="col-12 col-md-8 bg-faded py-3">
      
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <!-- first -->
          <div class="carousel-item active">
            <img
              src="{{ url_for('static',
          filename='images/photos/portfolio_dec_2018_001.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Gregorio Hernández Huerta, left, gathers sweet potatoes from the sandy soil in Rocky Mount, NC, for Jones Family Farm, lit by the headlights of school bus converted for the harvest process. Photo taken on Friday, Sept. 16, 2016, for the NC Department of Agriculture and Consumer Services.</p>
            </div>
          </div>

          <!-- second -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
            filename='images/photos/portfolio_dec_2018_002.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Rosa Joyner Steele opens a pea pod while harvesting a large patch from the garden owned by Conetoe Chapel Missionary Baptist Church, on Thursday Aug. 6, 2015, in Conetoe, NC. When her cousin Reverend Richard Joyner began his tenure in Conetoe, he found himself disheartened by too frequently presiding over funerals for members of the community who died prematurely of chronic, diet-related diseases. It led him to establish the Conetoe Family Life Center and begin growing food. What started as one two-acre garden has grown to 25 acres, a youth development program, a summer camp, and a bee bus project. </p>
            </div>
          </div>

          <!-- third -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
              filename='images/photos/portfolio_dec_2018_003.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Protestors celebrate after pulling down a confederate statue in Durham, NC, on Monday, Aug. 14, 2017.</p>
            </div>
          </div>

          <!-- fourth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                filename='images/photos/portfolio_dec_2018_004.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>“We feel that all of the defendants are not guilty of the charges that are being presented, and we want to go to trial,” said Takyiah Thompson after appearing in court on Tuesday, Dec. 5, 2017, for charges related to the toppling of the confederate statue in Durham, NC.</p>
            </div>
          </div>

          <!-- fifth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                  filename='images/photos/portfolio_dec_2018_005.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Jos Chicas sits in his makeshift bedroom at the School for Conversion where he is taking sanctuary from deportation in Durham, NC, on Friday, July 7, 2017. Chicas sought sanctuary on June 27 after receiving deportation orders from ICE.</p>
            </div>
          </div>

          <!-- sixth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                    filename='images/photos/portfolio_dec_2018_006.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Fire Chief Westly Dorsch, rounds up his three hogs outside his home while helping a US Coast Guard crew, with his fiancé and fellow firefighter Chasity Hewett, navigate flooded streets of their tight-knit community in Crusoe Island, NC, to rescue pets that remained after emergency evacuations of those who underestimated Hurricane Florence, on Wednesday, Sept. 20, 2018 in Columbus County, NC.</p>
            </div>
          </div>

          <!-- seventh -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                      filename='images/photos/portfolio_dec_2018_007.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Three days after Hurricane Florence made landfall in Wilmington, NC, flood water still surrounds two hog houses and its lagoon near Kinston, NC, on Monday, Sept. 17, 2018.</p>
            </div>
          </div>

          <!-- eight -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                        filename='images/photos/portfolio_dec_2018_008.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Farm equipment rests in a flooded field on Monday, Sept. 17, near Trenton, NC, three days after Hurricane Florence made landfall in Wilmington, NC. </p>
            </div>
          </div>

          <!-- ninth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                          filename='images/photos/portfolio_dec_2018_009.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Leora Cassells, 80, practices tai chi in her living room on Sunday, Oct. 11, 2015, in Monticello, New York.</p>
            </div>
          </div>

          <!-- tenth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                            filename='images/photos/portfolio_dec_2018_010.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Theo Munerlyn, left, the father of Kamari Munerlyn, and Crystal Hester watch as Sidney Brodie sews a square onto the 'Durham Homicide and Victims of Violent Death Memorial Quilt' in Kamari's honor during a vigil to memorialize his life on Thursday, June 8, 2017, in Durham, NC. Kamari Munerlyn, 7, died after being shot during a drive-by shooting on Sunday, June 4, 2017. </p>
            </div>
          </div>

          <!-- eleventh -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                              filename='images/photos/portfolio_dec_2018_011.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Avery Neill, 5, waits to receive chemotherapy treatment at Duke Hospital for an incurable tumor growing on her brain stem, known as DIPG, with an average prognosis of nine to 12 months, on Wednesday, Apr. 18, 2018, in Durham, NC. She in enrolled in a trial through Children's National Hospital, experimenting with a unique combination of drugs for her specific tumor mutations. </p>
            </div>
          </div>

          <!-- twelveth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                                filename='images/photos/portfolio_dec_2018_012.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Rebekah Neill, 5, left, comforts her twin sister Avery, as their mother Emily Neill, 31, spent the day surrounded by friends as family waiting for Avery's heart to slow to a stop after she became unresponsive and started breathing irregularly the night before, concluding a five-month journey with an incurable brain stem tumor, known as DIPG, at 5:15pm on Mother's Day Sunday, May 13, 2018, in Raleigh, NC. 
              </p>
            </div>
          </div>

          <!-- thirteenth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                                  filename='images/photos/portfolio_dec_2018_013.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Gail Carson, of the Raging Grannies, joins the crowd in a prayer led by Nancy Petty, pastor of Pullen Memorial Baptist Church, during the March For Our Lives rally on the Halifax Mall in Raleigh, NC, on Saturday, Mar. 24, 2018, raising awareness about gun violence and gun control after the mass shooting at Marjory Stoneman Douglas High School on Feb. 14, 2018. 
              </p>
            </div>
          </div>

          <!-- fourteenth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                                    filename='images/photos/portfolio_dec_2018_014.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>A caterpillar inches up a blueberry bush in Virginia's Grayson Highlands State Park on Sunday, Aug. 12, 2018. </p>
            </div>
          </div>

          <!-- fifteenth -->
          <div class="carousel-item">
            <img
              src="{{ url_for('static',
                                      filename='images/photos/portfolio_dec_2018_015.JPG') }}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <p>Willie Soehner stalks a soon-to-be-slaughtered pig with rifle in hand. The hog was exhibiting odd behavior and a close look at its heart revealed cancerous growth. Willie butchered the pig with his friends and family on their organic farm, Eco Farm, in Chapel Hill, NC. </p>
            </div>

            <!-- sixteenth -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static',
              filename='images/photos/portfolio_dec_2018_016.JPG') }}"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <p
                  >Photo of a fall pecan harvest in Pittsboro, NC, taken on Sunday, Nov. 6, 2016, for the NC Department of Agriculture and Consumer Services.</p
                >
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </main>
  </div>
</div>
{% endblock content %}
